@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?zedp9u');
    src:  url('../fonts/icomoon.eot?zedp9u#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?zedp9u') format('truetype'),
      url('../fonts/icomoon.woff?zedp9u') format('woff'),
      url('../fonts/icomoon.svg?zedp9u#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-sort:before {
    content: "\e900";
  }
.container {
    max-width: 1500px;
    margin: 0 auto;
}
.table {
    border-collapse: collapse;
    margin-top: 2rem;
}
.table__name{
    background: rgb(103, 115, 163);
}
.flag__img{
    max-width: 100%;
}
.main-code,
.main-flag,
.main-name,
.main-capital,
.main-population,
.code,
.flag,
.name,
.capital,
.population {
    text-align: center;
    border: 1px solid #000;
    padding: 0.7rem;
}
.main-code{
    width: 10%;
}
.main-flag{
    width: 15%;
}
.main-name{
    width: 40%;
}
.main-capital{
    width: 20%;
}
.main-population {
    width: 15%;
}